{% load static %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>OTP Verification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'otp.css' %}" />
</head>

<body>
  <div class="otp-container">
    <h2>OTP Sent</h2>
    {% if messages %}
    <div class="messages">
      <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" style="margin-left:-50px; color:red;" {% endif %}>{{ message
          }}</li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="email" value="{{ email }}" />
      <input type="hidden" name="fake_otp" value="{{ fake_otp }}" />
      <label for="entered_otp">Enter OTP</label>
      <input type="text" id="entered_otp" name="enter_otp" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>