body {

  font-family: Arial, sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/previews/022/426/801/non_2x/pineapple-with-sunglasses-on-blue-background-summer-vacation-concept-generative-ai-free-photo.jpeg');
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: left;

  font-family: Arial, sans-serif;
  background-image: url("https://static.vecteezy.com/system/resources/previews/022/426/801/non_2x/pineapple-with-sunglasses-on-blue-background-summer-vacation-concept-generative-ai-free-photo.jpeg");
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: left;

}

.container {
  background-color: #00000000;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin-left: 280px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: left;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border-color: #000000;
}

button {
  padding: 10px;
  background-color: #123e41;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #15363cb0;
}

.signup-link {
  padding-top: 10px;
}

.pass-link {
  padding-top: 10px;
}

a {
  color: #154947;
}

a:hover {
  color: #fcbf5c;
}